<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/estilo.css}">

<head>
    <meta charset="UTF-8">
    <title>Lista de Projetos</title>
</head>

<body >

    <table>
        <tr>
            <td>
                <h1>Lista de Projetos</h1>
            </td>
            <td>
                <a th:href="@{/projects/create}">+ Novo Projeto</a>
            </td>
        </tr>
    </table>

    <hr>

    <p th:if="${projectsListem.empty}">Nenhum projeto cadastrado.</p>

    <div th:unless="${projectsListem.empty}">
        <table>
            <tbody>
                <tr th:each="project : ${projectsListem}">
                    <td>
                        <a th:href="@{/projects/{id}/tasks(id=${project.id})}">
                            <b th:text="${project.name}">Nome do Projeto</b><br>
                        </a>
                        <small>
                            Criador: <span th:text="${project.ownerName}">Davi</span> |
                            Data: <span
                                th:text="${#temporals.format(project.startDate, 'dd/MM/yyyy')}">10/04/2026</span>
                        </small>
                    </td>

                    <td>
                        <details>
                            
                            <div>
                                <a th:href="@{/projects/details/{id}(id=${project.id})}">Ver Detalhes</a><br>
                                <a th:href="@{/projects/edit/{id}(id=${project.id})}">Editar</a><br>
                                <a th:href="@{/projects/delete/{id}(id=${project.id})}"
                                    onclick="return confirm('Excluir projeto?')">Excluir</a>
                            </div>
                        </details>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>